<div class="container">
<h2>Add new Interview</h2>

<div class="row">
    <div class="col-xs-6">
        <label>Scheduled Date:</label><input type="text">
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <label>Taken On:</label><input type="text">
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <label>Interviewer:</label><input type="text">
    </div>
</div>
    
    <div class="row">
        <div class="col-xs-6">
        <label>Job:</label><input type="text">
    </div>
</div>
    
<div class="row">
    <div class="col-xs-6">
        <label>Interview Type:</label><input type="text">
    </div>
</div>
    
<div class="row">
    <div class="col-xs-6">
        <label>Scheduled Hour:</label><input type="text">
    </div>
</div>
    
<div class="row">
    <div class="col-xs-6">
        <label>Interviewee:</label><input type="text">
    </div>
</div>
</div>
